
.topics{color:blue;font-style:italic;font-weight:bold;font-size:large}
.formula{color:black;font-style:comic_sans_ms;font-weight:bold;font-size:large;text-transform:capitalize}
.list{color:black;font-weight:bold;font-size:medium}
.high{font-size=medium;font-weight:bolder;color:#00008B;}
